#sidebar{
  #expressionwrapper{
    position: relative;
    p{
      position: absolute;
      left: 10px;
      top: 0;
      color: #dcdcdc;
      font-size: 14px;
      line-height: 3em;
    }
    input#expression{
      width: 100%;
      height: 3em;
      text-indent: 22px;
      line-height: 3em;
    }
  }

  #boundswrapper{
    margin-top: 5px;
    input{
      display: inline-block;
      height: 2.5em;
    }
    .bound{
      width: 40px;
      text-align: center;
    }
    #step{
      width: 80px;
    }
    p{
      display: inline-block;
      line-height: 2.5em;
    }
    #steptext{
      margin-left: 15px;
      margin-right: 10px;
    }
    #theta{
      background-color: white;
    }
  }

  #button{
    background-color: $blue;
    color: $white;
    border: none;
    margin-top: 5px;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    font-family: fjalla;
    font-size: 14px;
    height: 2.5em;
    cursor: pointer;
  }

  #integralrepresentation{
    p{
      font-size: 25px;
    }
    #answer{
      width: 5px;
      text-overflow: hidden;
    }
  }

  #credits{
    position: absolute;
    bottom: 15px;
    left: 15px;
  }
}

#graph{
  #graphCanvas{
    position: relative;
  }
}

center#mobile{
  margin-top: 45vh;
  font-family: fjalla;
  font-size: 36px;
}

#error{
  color: #c0392b;
  margin-top: 10px;
}

#loading{
  width: 50px;
  position: absolute;
  left: 64%;
  transform: translateX(-36%);
  top: 50%;
  transform: translateY(-50%);
}

@media screen and (max-height: 575px){
  #credits{
    display: none;
  }
}
