#wrapper{
  display: flex;
  overflow: hidden;

  #sidebar, #graph{
    height: 100vh;
    position: relative;
    box-sizing: border-box;
  }

  #sidebar{
    width: 30vw;
    background-color: $white;
    padding: 15px;
    padding-bottom: 60px;
    overflow-y: scroll;
  }

  #graph{
    width: 70vw;
  }

}
